.content{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header-logo{
  font-size: 25px;
}
.menu-center{
  display: flex;
  background: linear-gradient(to right, rgba(98, 0, 255, 0.071), rgb(192, 198, 255));
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  border-radius: 20px;
}

.menu-center li a{
 padding: 5px 10px;
 display: inline-block;
 border-radius: 20px;
}
.menu-center li a:hover{
 background: rgba(2, 217, 240, 0.295);
}
.menu-end{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-end li{
  background: rgba(0, 255, 162, 0.237);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 2px;
}
.menu-end div{
  border:1px dotted blue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.menu-end img{
  max-width: 100%;
}



